<h1>Update User</h1>
<p *ngIf="!exist">product doesn't exist</p>
<form #userForm="ngForm" (ngSubmit)="updateUser(userForm.value)" style="align:center">
  <label>Name</label>
  <input type="text" name="name" [(ngModel)]="data.name" ngModel /><br>
  <label>Email Id</label>
  <input type="email" name="email" [(ngModel)]="data.email" ngModel /><br>
  <label>Age</label>
  <input type="number"name="age" [(ngModel)]="data.age"  ngModel /><br>

  <label>Country</label><select name="country" [(ngModel)]="data.country" >
    <option value="india">India</option>
    <option value="england">England</option>
    <option value="america">America</option>
    <option value="japan">Japan</option>
  </select><br>
  <br>
  <button type="submit">Submit</button>
</form>

