<h1>User Management System</h1>

<form id="formNewProduct" name="formNewProduct" #productData="ngForm" >
  <button ><a routerLink='/createUser'>Create User</a></button><br>
  <table>
    <th></th>
    <th></th>
<tr *ngFor="let users of user;" (click)="selctId(users.id)" [class.selected]="selectedId===users.id">
      <td>{{users.name}}</td>
      <td>{{users.id}}</td>
</tr>
</table>

  <button  (click)="update()">Update</button> <button (click)="deleteUser()">Delete</button>
</form>
