<h1>Create New User</h1>
<form #userData="ngForm" (ngSubmit)="adduser(userData.value)">
  <label>Name</label>
  <input type="text" id="name" name="name" ngModel /><br>
  <label>Email Id</label>
  <input type="email" id="email" name="email" ngModel /><br>
  <label>Age</label>
  <input type="number" id="age" name="age" ngModel/><br>
  <label>Country</label>
    <select name="country" name="country" ngModel>
    <option value="india">India</option>
    <option value="england">England</option>
    <option value="america">America</option>
    <option value="japan">Japan</option>
  </select ><br>
  <button type="submit">Add User</button>
</form>
<a *ngIf="isAdded">{{msg}}</a> 
 